html
	head
		title #{title}
		link( href="/css/materialize.min.css" type="text/css" rel="stylesheet" )
		link( href="/style.css" type="text/css" rel="stylesheet" )
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo Bulletin Board
				ul.right
					li
						a(id='href' href="/showMessage") Messages

		div#header.valign-wrapper
			div.row.valign
				div.col.l12
					h1.center.white-text 
		main
			div.container
				div.row
					div.col.l10.offset-l1
						div#topcard.card
							div.card-content
								form(id='contact' method ='POST' action ='/addMessage')
									div(class='container')
										div(class='head')
											h2 NEW MESSAGE
										input(name='title' type='text' placeholder='Title' required )
										input(name='message' type='text' placeholder='Write message' required)
										div(class='write')
										input(id='submit' class='btn btn-default' type='submit' value='Send')

										br
		footer.page-footer
			div.container
				div.container.grey-text © 2016 Ilana Enderman
				br
		script( src="/jquery-3.1.1.min.js" )
		script( src="/js/materialize.min.js" )
		script( src="/main.js" )