html
	head
		script(src='/main.js')
		script(src='/jquery-3.1.1.min.js')
		script(src='/custom.js')

		link( href="/css/materialize.min.css" type="text/css" rel="stylesheet" )
		link( href="/style.css" type="text/css" rel="stylesheet" )
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo Blog 

				ul.right
					li 
						a#logo= user.fname + " " + user.lname
					li
						a(href='/profile') Home
					li
						a(href='/newpost') Write Post
					li
						a(href='/mypost') My Posts
					li
						a(href='/allpost') All Posts
					li
						a(href='/logout') Log Out
			
		div#header.valign-wrapper
			div.row.valign
				div.col.l12
		main
			div.container
				div.row
					div.col.l8.offset-l2
						div#topcard.card
							div.card-content
								form(id='contact' method ='POST' )
									div(class='container')
										div(class='head')
											h2 Write post
										br
										input(name='title' type='text' placeholder='Enter title')
										input(name='post' type='text' placeholder='Enter post')
										div(class='write')
										input(id='submit' type='submit' class='btn btn-default' value='Send')

										br

		footer.page-footer
			div.container
				div.container.grey-text © 2016 Ilana Enderman

		script( src="/jquery-3.1.1.min.js" )
		script( src="/js/materialize.min.js" )
		script( src="/main.js" )