html
	head
		script(src='/main.js')
		script(src='/jquery-3.1.1.min.js')
		script(src='/custom.js')

		link( href="/css/materialize.min.css" type="text/css" rel="stylesheet" )
		link( href="/style.css" type="text/css" rel="stylesheet" )
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo Blog 

				ul.right
					li 
						a#logo= user.fname + " " + user.lname
					li
<<<<<<< HEAD:views/showMessage.pug
						a(id='href' href="/addMessage") Add Message

=======
						a(href='/profile') Home
					li
						a(href='/newpost') Write Post
					li
						a(href='/mypost') My Posts
					li
						a(href='/allpost') All Posts
					li
						a(href='/logout') Log Out
			
>>>>>>> 7145721ba0d55292f932f1298bbf07243828e388:views/profile.pug
		div#header.valign-wrapper
			div.row.valign
				div.col.l12
		main
			div.container
				div.row
					div.col.l10.offset-l1
						div#topcard.card
							div.card-content
								form(id='contact' method ='POST' action ='/profile')
									div(class='container')
										div(class='head')
<<<<<<< HEAD:views/showMessage.pug
				
										each thing in result
											div.card-content
												h2 #{thing.title}
												p#lead #{thing.body}
												hr(id='newMessage')

=======
											h2 Profile
										br
										h3= user.fname + " " + user.lname
>>>>>>> 7145721ba0d55292f932f1298bbf07243828e388:views/profile.pug
										br

		footer.page-footer
			div.container
				div.container.grey-text © 2016 Ilana Enderman
<<<<<<< HEAD:views/showMessage.pug
				br
=======

>>>>>>> 7145721ba0d55292f932f1298bbf07243828e388:views/profile.pug
		script( src="/jquery-3.1.1.min.js" )
		script( src="/js/materialize.min.js" )
		script( src="/main.js" )
