html
	head
		link(rel = "stylesheet" href = "style.css" type = "text/css")
	body
		form(id='contact' method='POST' action='/search')
			div(class='container')
				div(class='head')
					h2 MESSAGES
				
				each thing in result
					h2 #{thing.title}
					p #{thing.body}
					hr(id='newMessage')

				br

				a(class='button' href='/addMessage') Write new message