
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
nav, footer.page-footer {
  background-color: black;
}

#logo {
  padding-left: 10px;
}

#topcard {
  margin-top: -80px;
}

#header {
  min-height: 500px;
  background-color: grey;
  background-image: url('/message.jpg');
  background-position: center;
  background-size: cover;
}


main {
  flex: 1 0 auto;
}

#logo {
  color: #F8D480;

}

.user {
  font-size: 10px;
  color: teal;
}

#author{
  font-style: italic;
}

h2{
  text-align: center;
}