
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
nav, footer.page-footer {
  background-color: #9A1600;
}

#logo {
  padding-left: 10px;
}

#topcard {
  margin-top: -80px;
}

#header {
  min-height: 500px;
  background-color: grey;
  background-image: url('/cork.jpg');
  background-position: center;
  background-size: cover;
}


main {
  flex: 1 0 auto;
}

<<<<<<< HEAD
.btn.btn-default {
  background-color: #9A1600;
}

input[type=text]{
  font-size: 30px;
}

input[type=submit]{
  font-size: 20px;
}

#href {
  font-size: 30px
}

#lead {
  font-size: 30px
=======
#logo {
  color: #F8D480;

}

.user {
  font-size: 10px;
  color: teal;
}

#author{
  font-style: italic;
}

h2{
  text-align: center;
>>>>>>> 7145721ba0d55292f932f1298bbf07243828e388
}